{% extends 'core/base.html' %}
{% block tag_title %}Curso | Detalle{% endblock tag_title %}
{% block titulo %}Detalle de Curso{% endblock titulo %}
{% block contenido %}
    <div class="">
        {% include 'curso/components/card.html' with nombre=object.nombre descripcion=object.descripcion fecha_inicio=object.fecha_inicio imagen=object.imagen%}
    </div> 
    <div class="d-flex justify-content-end mt-4">
        <a href="{% url 'curso:list' %}" class="btn btn-outline-secondary fs-5 py-1 px-4 fw-bold">
            <i class="bi bi-arrow-left"></i>
        </a>
    </div>
    <section>
        <h2 class="mt-5 ">Profesor</h2>
        <hr/>
        {% if object.profesor %}
            <article class="p-2 rounded-2 d-flex align-items-center w-25" style="background:#1F2034!important; height: 100px; ">
                <img 
                    {% if object.profesor.imagen %}
                        src="{{ object.profesor.imagen.url }}"
                    {% else %}
                        src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                    {% endif %}    
                    alt="Imagen de Usuario {{ nombre }}"
                    class="p-3 rounded-circle"
                    style="height: 100%;"
                >
                <div>
                    <span>{{ object.profesor.nombre }} {{ object.profesor.apellido }}</span>
                </div>
            </article>
        {% else %}
            <p class="fs-5 text-secondary">No hay profesor asignado a este curso</p>
        {% endif %}
    </section>
    <h2 class="mt-5">Estudiantes Inscritos</h2>
    <hr/>
    {% if object.estudiantes.all %}
        <section class="mt-5" style="display: grid; grid-template-columns: repeat(4,1fr); gap: 2rem">
            {% for estudiante in object.estudiantes.all %}
                <article class="p-2 rounded-2 d-flex align-items-center" style="background:#1F2034!important; height: 100px;">                
                    <img 
                        {% if estudiante.imagen %}
                            src="{{ estudiante.imagen.url }}"
                        {% else %}
                            src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                        {% endif %}    
                        alt="Imagen de Usuario {{ nombre }}"
                        class="p-3 rounded-circle"
                        style="height: 100%;"
                    >
                    <div class="">
                        <span>{{ estudiante.nombre }} {{ estudiante.apellido }}</span>
                    </div>
                </article>
            {% endfor %}
        </section>
    {% else %}
        <p class="fs-5 text-secondary">No hay estudiantes inscritos en este curso</p>
    {% endif %}

{% endblock contenido %}
