{% extends 'core/base.html' %}
{% block tag_title %}Curso | Registro{% endblock tag_title %}
{% block titulo %}Formulario para Registrar Curso{% endblock titulo %}
{% block contenido %}
    <form action="" method="post">
        {% csrf_token %}
        <div style="display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px;">
            {{ form.as_p }}
        </div>
        <div class="d-flex justify-content-center my-4">
            <button type="submit" class="btn btn-success w-25 fs-5 fw-bold">Guardar</button>
        </div>
    </form>
{% endblock contenido %}
