{% extends 'core/base.html' %}
{% block tag_title %}Curso | Lista{% endblock tag_title %}
{% block titulo %}Lista de Cursos{% endblock titulo %}
{% block contenido %}
    <form action="{% url 'curso:list' %}" method="get">
        <label class="fs-5 fw-bold mb-3 text-primary">Búsqueda:</label>
        <input 
            type="text"
            name="consulta"
            class="form-control"
            placeholder="Busca por curso..."
        >
    </form>
    <div class="row gx-4 gx-lg-5">
        {% if object_list %}
            {% for curso in object_list %}
                <p>
                    {{curso.nombre}}
                    <span><a href="{% url 'curso:detail' curso.id %}">Ver Detalle</a></span>
                    <span><a href="{% url 'curso:update' curso.id %}">Editar</a></span>
                    <span><a href="{% url 'curso:delete' curso.id %}">Eliminar</a></span>
                </p>
            {% endfor %}
        {% elif not object_list and request.GET.consulta%}
            <p class="text-center py-4 m-2 fs-4 text-info text-bg-dark fw-bold rounded-4">
                No hay Cursos registrados con ese nombre 🫤
            </p>
        {% else %}
            <p class="text-center py-4 m-2 fs-4 text-warning text-bg-dark fw-bold rounded-4">
               Aún no hay Cursos registrados  📢
            </p>
        {% endif %}
    </div>
{% endblock contenido %}
