{% extends 'core/base.html' %}
{% block tag_title %}
    Curso | 
    {% if form.instance.pk %}
        Editar
    {% else %}
        Registrar
    {% endif %}
{% endblock tag_title %}
{% block titulo %}
    {% if form.instance.pk %}
        Editar
    {% else %}
        Registrar
    {% endif %}
    Curso
{% endblock titulo %}
{% block contenido %}
    <div class="d-flex justify-content-center ">
        <div class="rounded-4 p-5 mt-3 w-50" style="background: #1F2034; border: 1px solid #9b9b9b54;">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px;" >
                    {{ form.as_p }}
                </div>
                <div class="d-flex justify-content-center my-4 gap-5">
                    <button type="submit" class="btn btn-success w-25 fs-5 fw-bold">Guardar</button>
                    {% if form.instance.pk %}
                        <a href="{% url 'curso:list' %}" class="btn btn-primary w-25 fs-5 fw-bold ">Volver</a>
                    {% else %}
                        <a href="{% url 'curso:home' %}" class="btn btn-primary w-25 fs-5 fw-bold ">Volver</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock contenido %}
