<div class="col-md-4 mb-5 my-4">
    <div class="card h-100 text-secondary ">
        <div class="card-body">
            <h2 class="card-title text-black  ">{{ nombre }} {{ apellido }}</h2>
            <p class="card-text">Edad: {{ edad }}</p>
            <p class="card-text">Email: {{ email }}</p>
            <p class="card-text">Teléfono: {{ telefono }}</p>
            <p class="card-text">Fecha de Registro: {{ fecha_registro }}</p>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>