{% extends 'core/base.html' %}
{% block tag_title %}Estudiante | Lista{% endblock tag_title %}
{% block titulo %}Lista de Estudiantes{% endblock titulo %}
{% block contenido %}
    <form action="{% url 'estudiante:list' %}" method="get">
        <label class="fs-5 fw-bold mb-3 text-primary">Búsqueda:</label>
        <input 
            type="text"
            name="consulta"
            class="form-control mb-3"
            placeholder="Busca por nombre o apellido..."
        >
    </form>
    <div class="row gx-4 gx-lg-5">
        {% if estudiantes %}
            {% for estudiante in estudiantes  %}
                {% include 'estudiante/components/card.html' with nombre=estudiante.nombre apellido=estudiante.apellido edad=estudiante.edad email=estudiante.email telefono=estudiante.telefono fecha_registro=estudiante.fecha_registro%}
            {% endfor %}
        {% else %}
            <p class="text-center py-5 fs-4 text-danger fw-bold">
                No hay estudiantes registrados con ese nombre o apellido 🫤
            </p>
        {% endif %}
    </div>
{% endblock contenido %}
