<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: #0e1d2c6e!important;">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'core:home' %}"><b>Innovatech</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if  request.path == "/"%}active{% endif %}" aria-current="page" href="{% url 'core:home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if  request.path == "/about/"%}active{% endif %}" aria-current="page" href="{% url 'core:about' %}">Sobre Mí</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if  request.path == '/estudiante/'%}active{% endif %}" href="{% url 'estudiante:home' %}">Estudiante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if  request.path == '/curso/'%}active{% endif %}" href="{% url 'curso:home' %}">Curso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if  request.path == '/profesor/'%}active{% endif %}" href="{% url 'profesor:home' %}">Profesor</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        
        <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link">
                        {% if user.coordinador.imagen %}
                            <img src="{{user.coordinador.imagen.url}}"  style="width: 25px; border: 1px solid #929292"alt="Imagen de Perfil" class="rounded-circle">
                        {% else %}
                            <i class="bi bi-person-circle"></i>
                        {% endif %}

                        {% if user.first_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </a>
                </li>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-end bg-dark">
                      <li>
                        <form action="{% url 'core:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item bg-dark text-white">
                                Logout
                            </button>
                        </form>
                      </li>
                    </ul>
                  </div>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if  request.path == "/login/"%}active{% endif %}" href="{% url 'core:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if  request.path == "/register/"%}active{% endif %}" href="{% url 'core:register' %}">Registrarse</a>
                </li>
            {% endif %}
        </div>
    </div>
</nav>