{% extends 'core/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block tag_title %}
        Proyecto Coder
    {% endblock tag_title %}
</head>
<body>
    {% block titulo %}
        Sistema Web de Cursos Virtuales
    {% endblock titulo %}
    {% block contenido %}
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/images/cursos_wallpaper.jpg' %}" alt="Wallpaper Cursos Virtuales"/></div>
            <div class="col-lg-5">
                <h2 class="font-weight-light fs-1">Bienvenido a Innovatech</h2>
                <p>
                    Innovatech es una academia virtual líder en educación en línea. Ofrece una amplia variedad de cursos virtuales, desde programación hasta diseño gráfico, impartidos por expertos en la industria. Los estudiantes disfrutan de flexibilidad en su aprendizaje, acceso a materiales de calidad y soporte personalizado para alcanzar sus objetivos profesionales.
                </p>
                <a class="btn btn-primary" href="http://wa.me/51928399590" target="_blank">Más información</a>
            </div>
        </div>
    {% endblock contenido %}
</body>
</html>