{% extends 'core/base.html' %}
{% block tag_title %}Registro | Usuario{% endblock tag_title %}

{% block contenido %}
    <div class="container p-4 rounded-2"  style="background: #1F2034; width: 30%">
        <h1 class="text-center">Registro</h1>
        <div class="mt-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{% url 'core:home' %}">
                <div class="d-flex flex-column  my-4 gap-3">
                    <button type="submit" class="btn btn-success">Registrar</button>
                    <a href="{% url 'core:home' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido %}