{% extends 'core/base.html' %}
{% block tag_title %}Profesor | Panel General{% endblock tag_title %}
{% block titulo %}Panel de Profesores{% endblock titulo %}

{% block contenido %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg d-flex align-items-center fs-2 p-4 fw-bold " href="{% url 'profesor:create' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/3534/3534139.png" alt="Imagen 1" class="me-2" style="max-height: 180px;">
                Registrar Profesor
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-warning btn-lg d-flex align-items-center fs-2 p-4 fw-bold " href="{% url 'profesor:list' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/762/762677.png" alt="Imagen 2" class="me-2" style="max-height: 180px;">
                Lista de Profesores
            </a>
        </div>
    </div>
</div>
    
{% endblock contenido %}
