{% extends 'core/base.html' %}
{% block tag_title %}
    Profesor | 
    {% if form.instance.pk %}
        Editar
    {% else %}
        Registrar
    {% endif %}
{% endblock tag_title %}
{% block titulo %}
    Formulario para 
    {% if form.instance.pk %}
        Editar
    {% else %}
        Registrar
    {% endif %}
    Profesor
{% endblock titulo %}
{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px;">
            {{ form.as_p }}
        </div>
        <div class="d-flex justify-content-center my-4 gap-5">
            <button type="submit" class="btn btn-success w-25 fs-5 fw-bold">Guardar</button>
            {% if form.instance.pk %}
                <a href="{% url 'profesor:list' %}" class="btn btn-primary w-25 fs-5 fw-bold ">Volver</a>
            {% else %}
                <a href="{% url 'profesor:home' %}" class="btn btn-primary w-25 fs-5 fw-bold ">Volver</a>
            {% endif %}
        </div>
    </form>
{% endblock contenido %}
